<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <%= image_tag @user.profile_pic.url %>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= "#{@user.first_name} #{@user.last_name}" %> 
            <br>
            Score: <%= @user.score %>
          </div>
        </div>
      
    
    <div class="profile-usermenu">
          <ul class="nav">
            <% if @user.id == current_user.id %>
            <li class="active">
              <a href="/users/<%= @user.id %>">
              <i class="glyphicon glyphicon-home"></i>
              My Profile </a>
            </li>
            <li>
              <a href="/users/<%= @user.id %>/edit">
              <i class="glyphicon glyphicon-user"></i>
              Update Profile </a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  
<div class="col-md-9">
  <div class="profile-content">
    <% if @user.id == current_user.id %>  
      <h3 class='text-center'>My challenges</h3>
      <% @challenge.each do |challenge| %>
    <div class="profile_box">
      <ul id='challenge_profile'>
        <li id='title'><%= challenge.title %></li>
      <div id='challenge_body'>
        <li>Category: 
      <% case challenge.category when 'OMS' %>
        <%= link_to "Order Management System", "/category_search/#{challenge.id}/#{challenge.category}" %>
        <% when 'db' %>
        <%= link_to "Databases", "/category_search/#{challenge.id}/#{challenge.category}" %>
        <% when 'example2' %>
        <%= link_to "Test", "/category_search/#{challenge.id}/#{challenge.category}" %>
        <% when 'doc' %>
        <%= link_to "Documentation", "/category_search/#{challenge.id}/#{challenge.category}" %>
        <% end %> 
      </li>
        <li>Description: <%= challenge.description %></li>
      </div>
        </ul>
        <div class="btn-group" role="group" aria-label="...">
        <%= button_to "Edit Challenge", "/challenges/#{challenge.id}/edit", :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %>
        <%= button_to "Add Solution", "/challenges/#{challenge.id}/solutions/add_solution", :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %>
        <%= button_to "View Solutions", "/challenges/#{challenge.id}/solutions", :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %>
      </div>
    </div>
    <% end %>
    <h3 class='text-center'>Following or working on...</h3>
      <% @my_challenges.each do |my_challenge| %>
    <div class="profile_box">
      <ul id='challenge_profile'>
        <li id='title'><%= my_challenge.title %></li>
        <li>Category: <%= my_challenge.category %></li>
        <li>Description: <%= my_challenge.description %></li>
        <div class="btn-group" role="group" aria-label="...">
        <%= button_to "Challenge", "/challenges/#{my_challenge.id}", :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %>
        <%= button_to "Test Button", "#", :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %>
      </div>
      </ul>
    </div>
    <% end %>
    <h3 class='text-center'>My solutions</h3>
      <% @solution.each do |solution| %>
    <div class="profile_box">
      <ul id='challenge_profile'>
        <li><%= solution.solution %></li>
        <div class="btn-group" role="group" aria-label="...">
        <%= button_to "Challenge", "/challenges/#{solution.challenge_id}", :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %>
        <%= button_to "Test Button", "#", :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %>
      </div>
      </ul>
    </div>
      <% end %>
    <% else %>
      <%= "You cannot view these challenges" %>
    <% end %>
  </div>
</div>
</div>