<h2 style='text-align: center;'>Challenges</h2>

<% @challenge.each do |challenge| %>
	<div class="box">
	<ul id='challenge_index'>
		<li id='title'><%= challenge.title %> <% if challenge.top_three_flag%><span id='live_flag'>Live</span><% end %></li>
		<li>Category: <%= link_to "#{challenge.category}", "/category_search/#{challenge.id}/#{challenge.category}" %> </li>
		<li>Description: <%= challenge.description %></li>
		<button><li><%= link_to "Add Solution", "/challenges/#{challenge.id}/solutions/add_solution" %></li></button>
		<button><li><%= link_to "View Solutions", "/challenges/#{challenge.id}/solutions" %></li></button>
	<% if (current_user.acct_type == 'admin' && challenge.top_three_flag == false) %>
		<li><%= button_to "Go Live", "/challenges/add_top_three?id=#{challenge.id}" %></li>
	<% elsif (current_user.acct_type == 'admin' && challenge.top_three_flag == true) %>
		<li><%= button_to "Remove live flag", "/challenges/add_top_three?id=#{challenge.id}" %></li>
	<% end %>
	<% if current_user.following_challenge?(challenge) %>
		<%= form_for(current_user.relationships.find_by_followed_id(challenge),
         html: { method: :delete }) do |f| %>
 		 <%= f.submit "Unfollow", class: "btn btn-large" %>
			<% end %>
	<% else %>
		<%= form_for(current_user.relationships.build(followed_id: challenge.id)) do |f| %>
  			<div><%= f.hidden_field :followed_id %></div>
 		 <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
		<% end %>
		<% end %>
	</ul>
	</div>
<% end %>