<h2 style='text-align: center;'>Search results by category: <i><% case @current_challenge.category when 'doc' %>
					<%= "Documentation" %>
					<% when 'db' %>
					<%= "Database" %>
					<% when 'tools' %>
					<%= "Aladdin Tools" %>
					<% when 'gen' %>
					<%= "Blue-Sky (general)" %>
					<% end %> </i></h2>

<% @challenge.each do |challenge| %>
<div class="box">
<ul id='challenge_index'>
<li id='title'><%= challenge.title %></li>
<li>Category: 
				<% case challenge.category when 'doc' %>
					<%= link_to "Documentation", "/category_search/#{challenge.id}/#{challenge.category}" %>
					<% when 'db' %>
					<%= link_to "Database", "/category_search/#{challenge.id}/#{challenge.category}" %>
					<% when 'tools' %>
					<%= link_to "Aladdin Tools", "/category_search/#{challenge.id}/#{challenge.category}" %>
					<% when 'gen' %>
					<%= link_to "Blue-Sky (general)", "/category_search/#{challenge.id}/#{challenge.category}" %>
					<% end %> 
			</li>
<li>Description: <%= challenge.description %></li>
<li><button><%= link_to "Add Solution", "/challenges/#{challenge.id}/solutions/add_solution" %></li></button>
<li><button><%= link_to "View Solutions", "/challenges/#{challenge.id}/solutions" %></li></button>
</ul>
</div>
	<% end %>
<div ></div>