<h2 class='titles'>Solutions for '<%= @challenge.title %>'</h2>


<% @solution.each do |solution| %>
<div class="solution_box">
<ul id='challenge_index'>
<li id='solution'><%= solution.solution %></li>
<% if solution.attachment.exists? %>
<li><%= button_to "Download Attachment", solution.attachment.url(:original, false), :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button"   %></li>
<% end %>
<li><%= button_to "Back to Challenges", '/challenges', :method => :get, :class => "btn btn-default", :id =>'site_button', :type => "button" %></li>
<% if solution.top_flag == false && current_user.acct_type == 'admin' %>
<%= button_to "Flag Solution", "/solutions/top_flag?id=#{solution.id}", :class => "btn btn-default", :id =>'site_button', :type => "button" %>
<% elsif solution.top_flag == true && current_user.acct_type == 'admin' %>
<%= button_to "Remove Flag", "/solutions/top_flag?id=#{solution.id}", :class => "btn btn-default", :id =>'site_button', :type => "button" %>
<% end %>
</ul>
</div>
	<% end %>